




@mixin fontSize($size) {
    $result: $size * .7;
    font-size: $result;
    @media #{$mq-small} {
        $result: $size * 1.1;
        font-size: $result;
    }
    @media #{$mq-medium} {
        $result: $size * 1.2;
        font-size: $result;
    }
    @media #{$mq-desktop} {
        $result: $size * 1.3;
        font-size: $result;
    }
    @media #{$mq-desktop-large} {
        $result: $size * 1.4;
        font-size: $result;
    }
    @media #{$mq-large-screen} {
        $result: $size * 1.5;
        font-size: $result;
    }
    @media #{$mq-high-res} {
        $result: $size * 1.5;
        font-size: $result;
    }
  }






//background-images
@mixin bg-img-pos($background-position:50% 50%, $background-size:cover) {
  background: {
    repeat: no-repeat;
    position: $background-position;
    size: $background-size;
  }
}


@mixin bg-img($image, $background-position:50% 50%, $background-size:cover) {
  background: {
    image: $image;
    repeat: no-repeat;
    position: $background-position;
    size: $background-size;
  }
}

@mixin after( $zindex){
  content: '';
  position: absolute;
  z-index: $zindex;

}
// @include after(100%, 6vw, $white, 1)


@mixin transition($property:all, $duration:.2s, $function: ease-in){
transition-property:$property;
transition-duration: $duration;
transition-timing-function: $function;
}

// @include transition();

@mixin bg-mask($image, $background-position:center center, $background-size:contain) {
-webkit-mask: $image;
-webkit-mask-position: $background-position;
-webkit-mask-size: $background-size;
-webkit-mask-repeat: no-repeat;
}