{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "home" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}
{% set page = craft.entries().section('home').all() %} 


{% block head %} 
  {{ parent() }}
{% endblock %}

{% block content %} 
  {% for entry in page %} 
  <div class="pad-all">
  <a href="get-amped-electrical"><h2>Get Amped Electrical</h2></a>
  </div>

  {% endfor %} 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% endblock %}